/target
/bin
/.project
/.classpath
/.settings
/.buildpath
/.gitflow
*.class
.pmd
.checkstyle
.externalToolBuilders
.idea/
.DS_Store
*.iml
.DS_Store
/allure-report
/allure-results
/logs
/recordedvideos
